/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 10px;
}

.fia-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.fia-logo {
    width: 50px;
}

.f1-links {
    background-color: red;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.f1-logo {
    width: 80px;
    margin-right: 10px;
}

/* Estilos principais */
.main-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.featured-article {
    flex: 2;
    max-width: 600px;
    margin-bottom: 20px;
    padding-left: 15px;
}

.article-details {
    background-color: white;
    color: black;
    padding: 15px;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
    border-right: 5px solid red;
    border-top: 5px solid red;
}

.lawson-image-container {
    margin-top: 10px;
}

.lawson-image {
    width: 90%;
    height: auto;
}

/* Notícias relacionadas */
.related-news {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.related-item {
    text-align: center;
}

.related-image {
    width: 420px;
    height: 236px;
    object-fit: cover;
}

.related-item h3 {
    font-size: 1rem;
    text-align: center;
    margin: 10px 0 0 0;
    word-wrap: break-word;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
}

/* Rodapé */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}
